<% layout("layouts/boilerplate") %>

<div class="row">
    <h2 class="col-6 offset-3 mt-3 mb-3">SignUp on Wanderlust</h2>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Name</label>
        <input id="username" name="username" type="text" class="form-control" required />
        <div class="valid-feedback">looks good</div>
        <div class="invalid-feedback">please enter username</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="text" class="form-control" required />

      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
